<form action="http://localhost:3000/admin/signup" method="post">
<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Name" name="name">
    <div class="input-group-append">
        <div class="input-group-text">
            <span class="fas fa-envelope"></span>
        </div>
    </div>
</div>
<div class="input-group mb-3">
        <input type="email" class="form-control" placeholder="Email" name="email">
        <div class="input-group-append">
            <div class="input-group-text">
                <span class="fas fa-envelope"></span>
            </div>
        </div>
</div>
    <div class="input-group mb-3">
        <input type="password" class="form-control" placeholder="Password" name="password">
        <div class="input-group-append">
            <div class="input-group-text">
                <span class="fas fa-lock"></span>
            </div>
        </div>
    </div>
    <div class="row">
        
        <div class="col-12">
            <button type="submit" id="submit" class="btn btn-primary btn-block">Sign Up</button>
        </div>
        <!-- /.col -->
    </div>
</form>
