{{#> layout}}
{{#*inline "maincontents"}}


<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <div class="d-flex justify-content-start">
                    <h1>Partner ID: #2318002</h1>
                    <div class="ml-3 mt-2 breadcrumb-link">
                        <a href="" class="text-danger">Partners</a> <span>&gt; </span>
                        <a href="" class="text-danger">Current</a> <span>&gt; #2318002</span>
                    </div>

                </div>
            </div>

        </div>
    </div><!-- /.container-fluid -->
</section>
<div class="p-3">
    <div class="row">
        <div class="col-xl">
            {{!-- General --}}
            <div class="card p-3 mt-2 bg-light">
                <div class="card-header">
                    <div class="d-flex">
                        <h4>General</h4>
                        <svg width="16" height="16" class="mt-2 ml-3" viewBox="0 0 16 16" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M15.625 3.95006L12.0505 0.374992C11.9317 0.256107 11.7906 0.1618 11.6352 0.0974584C11.4799 0.0331166 11.3135 0 11.1453 0C10.9772 0 10.8107 0.0331166 10.6554 0.0974584C10.5001 0.1618 10.359 0.256107 10.2401 0.374992L0.375211 10.2402C0.255833 10.3586 0.161187 10.4996 0.0967749 10.6549C0.0323627 10.8103 -0.000530757 10.9768 6.47604e-06 11.145V14.72C6.47604e-06 15.0595 0.134865 15.3851 0.374914 15.6251C0.614964 15.8651 0.94054 16 1.28002 16H4.85526C5.02342 16.0005 5.19 15.9676 5.34534 15.9032C5.50067 15.8388 5.64164 15.7442 5.76007 15.6248L15.625 5.76039C15.7439 5.64153 15.8382 5.50041 15.9025 5.3451C15.9669 5.18979 16 5.02333 16 4.85522C16 4.68711 15.9669 4.52065 15.9025 4.36534C15.8382 4.21003 15.7439 4.06891 15.625 3.95006ZM4.85526 14.72H1.28002V11.145L8.3201 4.10525L11.8953 7.68031L4.85526 14.72ZM12.8002 6.77475L9.22491 3.20048L11.1449 1.28056L14.7202 4.85482L12.8002 6.77475Z"
                                fill="#333333"></path>
                        </svg>

                    </div>
                </div>
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col-3">
                                <label class="form-label">First Name</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-3">
                                <label class="form-label">Last Name</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-2"></div>
                            <div class="col-4">
                                <label class="form-label">Account Created</label>
                                <input type="text" class="form-control">
                            </div>

                        </div>

                        <div class="row mt-3">
                            <div class="col-3">
                                <label class="form-label">Mobile</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-3">
                                <label class="form-label">Email</label>
                                <input type="email" class="form-control">
                            </div>
                            <div class="col-2"></div>
                            <div class="col-4">
                                <label class="form-label">Badges</label>
                                <input type="text" class="form-control">
                            </div>

                        </div>
                        <div class="row mt-3">
                            <div class="col-3">
                                <label class="form-label">License Type</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-3"> </div>
                            <div class="col-2"></div>
                            <div class="col-4">
                                <label class="form-label">Wallet Balance</label>
                                <input type="text" class="form-control">
                            </div>

                        </div>
                    </form>
                </div>
            </div>

            {{!-- End General --}}

            {{!-- Bank Details --}}
            <div class="card p-3 mt-4 bg-light">
                <div class="card-header">
                    <div class="d-flex">
                        <h4>Bank Details</h4>
                        <svg width="16" height="16" class="mt-2 ml-3" viewBox="0 0 16 16" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M15.625 3.95006L12.0505 0.374992C11.9317 0.256107 11.7906 0.1618 11.6352 0.0974584C11.4799 0.0331166 11.3135 0 11.1453 0C10.9772 0 10.8107 0.0331166 10.6554 0.0974584C10.5001 0.1618 10.359 0.256107 10.2401 0.374992L0.375211 10.2402C0.255833 10.3586 0.161187 10.4996 0.0967749 10.6549C0.0323627 10.8103 -0.000530757 10.9768 6.47604e-06 11.145V14.72C6.47604e-06 15.0595 0.134865 15.3851 0.374914 15.6251C0.614964 15.8651 0.94054 16 1.28002 16H4.85526C5.02342 16.0005 5.19 15.9676 5.34534 15.9032C5.50067 15.8388 5.64164 15.7442 5.76007 15.6248L15.625 5.76039C15.7439 5.64153 15.8382 5.50041 15.9025 5.3451C15.9669 5.18979 16 5.02333 16 4.85522C16 4.68711 15.9669 4.52065 15.9025 4.36534C15.8382 4.21003 15.7439 4.06891 15.625 3.95006ZM4.85526 14.72H1.28002V11.145L8.3201 4.10525L11.8953 7.68031L4.85526 14.72ZM12.8002 6.77475L9.22491 3.20048L11.1449 1.28056L14.7202 4.85482L12.8002 6.77475Z"
                                fill="#333333"></path>
                        </svg>

                    </div>
                </div>
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col-4">
                                <label class="form-label">Name as in Bank Account</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-4">
                                <label class="form-label">Bank Name</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-4">
                                <label class="form-label">Bank Account Number</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            {{!-- End Bank Details --}}

            {{!-- Order History --}}
            <div class="card p-3 mt-4 bg-light">
                <div class="card-header">
                    <h4>Order History</h4>
                </div>
                <div class="card-body">
                    <div class=" table-responsive text-nowrap mt-3">
                        <table class="table  table-hover w-100 table-heading">
                            <thead>
                                <tr>
                                    <th scope="col">Order ID</th>
                                    <th scope="col">Order Type</th>
                                    <th scope="col">Pick Up Schedule</th>
                                    <th scope="col">Route</th>
                                    <th scope="col">Payment Method</th>
                                    <th scope="col">Fees</th>
                                    <th scope="col">Commission </th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>#EB129381</td>
                                    <td>Normal</td>
                                    <td>27th Feb 2023<br>8:30 PM </td>
                                    <td>987234 &gt; <br>872131 &gt; <br>123111&gt;</td>
                                    <td>Cash</td>
                                    <td>$70.00</td>
                                    <td>$20</td>
                                </tr>
                                <tr>
                                    <td>#EB129381</td>
                                    <td>Normal</td>
                                    <td>27th Feb 2023<br>8:30 PM </td>
                                    <td>987234 &gt; <br>872131 &gt; </td>
                                    <td>Credit/Debit Card</td>
                                    <td>$60.00</td>
                                    <td>$20</td>
                                </tr>

                                <tr>
                                    <td>#EB129381</td>
                                    <td>Normal</td>
                                    <td>27th Feb 2023<br>8:30 PM </td>
                                    <td>872131 &gt; <br>123111 &gt; </td>
                                    <td>Cash</td>
                                    <td>$50.00</td>
                                    <td>$20</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><b>Total Commision Earned:</b></td>
                                    <td><b>$60</b></td>

                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {{!-- End Order History --}}

            {{!-- Withdrawl History --}}
            <div class="card p-3 mt-4 bg-light">
                <div class="card-header">
                    <h4>Withdrawl History</h4>
                </div>
                <div class="card-body">
                    <div class=" table-responsive text-nowrap mt-3">
                        <table class="table  table-hover w-100 table-heading">
                            <thead>
                                <tr>
                                    <th scope="col">Withdral ID</th>
                                    <th scope="col">Request Date</th>
                                    <th scope="col">Processed By</th>
                                    <th scope="col">Method</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Payment Date</th>
                                    <th scope="col">Amount </th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>#PAY00001</td>
                                    <td>12 March 2023</td>
                                    <td>Alson Toh</td>
                                    <td>Cash</td>
                                    <td>Paid</td>
                                    <td>13 March 2023</td>
                                    <td>$70.00</td>
                                </tr>
                                <tr>
                                    <td>#PAY00002</td>
                                     <td>14 March 2023</td>
                                    <td>Alson Toh</td>
                                    <td>Bank Transfer</td>
                                    <td>Pending</td>
                                    <td>-</td>
                                    <td>$70.00</td>
                                </tr>

                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><b>Total Withdral:</b></td>
                                    <td><b>$140</b></td>

                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            {{!-- End Withdrawl Historyz --}}
        </div>
    </div>
</div>

{{/inline}}
{{#*inline "jsscript"}}

<script src="../../dist/js/partner-current.js"></script>

{{/inline}}

{{/layout}}