<p>Dear {{ name }},</p>
<p>
We received a request to reset the password for your account. To ensure the security of your account, please use the following One-Time Password (OTP) to complete the password reset process:
</p>
<p><b>OTP: {{ otp }}</b></p>
<p>
Please note that this OTP is valid for 15 minutes.
Do not share this OTP with anyone for security reasons. If you did not request a password reset, please disregard this email.
</p>
Thank you for using our service.

<p>Best Regards, </p>
<p>Development Tim</p>