<h1>Selamat Datang di Aplikasi Absensi</h1>
<p>Anda telah diberikan akses untuk login di app absensi</p>
<p>Email: {{ email }}</p>
<p>Password: {{ password }} </p>

<p>Salam hangat!</p>
<p>Team Dev</p>