<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Express Buddy | Log in</title>

    <!-- Google Font: Source Sans Pro -->
    {{> style}}
</head>

<body class="hold-transition login-page">
    {{> login}}
    <!-- /.login-box -->

    <!-- jQuery -->
    {{> scripts}}
</body>

</html>