<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Express Buddy| Signup</title>

    <!-- Google Font: Source Sans Pro -->
    {{> style}}
</head>

<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <b>Express</b>Buddy
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                {{!-- <p class="login-box-msg">Sign in to start your session</p> --}}

                {{> register}}
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->

    <!-- jQuery -->
    {{> scripts}}
</body>

</html>