<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Express Buddy</title>

    {{> datatable_style}}
</head>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        <!-- Preloader -->
        {{!-- {{> preloader}} --}}

        <!-- Navbar -->
        {{> navbar}}
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        {{> sidebar}}

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <section class="content">
                <div class="container-fluid">
                    {{> terms}}
                </div>
            </section>

            <aside class="control-sidebar control-sidebar-dark">
            </aside>
        </div>
        <!-- /.content-wrapper -->
        {{> footer}}

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->

    <!-- jQuery -->
    {{!-- {{> datatable_script}} --}}
</body>

</html>